@import 'shared/styles/variables.css';

.Predictions {
	position: absolute;
	left: 10px;
	width: 280px;
	margin-top: -10px;
	background-color: var(--lightest-grey);
	box-shadow: var(--drop-shadow);

	& .title {
		padding: 5px 10px;
		color: var(--dark-grey);
		font-size: 1.1rem;
		font-weight: bold;
		text-align: left;
		text-transform: uppercase;
	}

	& .noResults {
		padding: 5px 10px;
		color: var(--black);
		text-align: left;
	}
}
