@reset-global pc;

a {
	color: inherit;
	text-decoration: none;
}

a:active,
a:hover {
    outline-width: initial;
}

input:focus,
select:focus,
textarea:focus {
    outline: thick dodgerblue;
    outline-style: auto;
}
