:root {
	/* ====================== */
	/* Colors */
	/* ====================== */
	--white: #FFF;
	--lightest-grey: #F3F3F3;
	--light-grey: #EEE;
	--grey: #BBB;
	--dark-grey: #888;
	--black: #16161D;

	--blue: #586FA3;

	/* ====================== */
	/* Input */
	/* ====================== */
	--drop-shadow: 0px 3px 5px color(var(--grey) a(30%));
}