@import 'shared/styles/variables.css';

.dummyItem {
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 30px 0;
	border: 1px solid var(--dark-grey);
	background-color: var(--grey);
	text-transform: uppercase;
	font-size:
}
