@import 'shared/styles/variables.css';

.PredictionItem {
	border-top: 1px solid var(--lightest-grey);
	text-align: left;
}

.link {
	display: block;
	padding: 5px 10px;
	background-color: var(--white);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&:hover,
	&_hovered {
		background-color: var(--blue);
		color: var(--white);
	}
}

.avatar {
	width: 45px;
	height: 45px;
	vertical-align: middle;
}

.username {
	margin-left: 10px;
}
