@import 'shared/styles/variables.css';

.TextBox {
	width: 280px;
	max-height: 50px;
	margin-bottom: 10px;
	padding: 10px 10px 10px 35px;
	border: none;
	box-shadow: var(--drop-shadow);
	box-sizing: border-box;
	background: var(--white) url('../../shared/media/svg/search-icon.svg') no-repeat center;
	background-size: 20px;
	background-position: 8px;
}
