@import 'shared/styles/variables.css';
@import 'shared/styles/reset.css';

:root {
	background-color: var(--light-grey);
}

html {
	/* This allows to use decimal rem units as pixels (i.e 1.6rem = 16px) */
	font-size: 62.5%;
	width: 100%;
}

.App {
	position: relative;
	max-width: 300px;
	margin: 50px auto;
	font-size: 1.6rem;
	text-align: center;
}

.logo {
	margin-bottom: 30px;
}
